---
import Main from '../layouts/Main.astro';
import { Image } from 'astro:assets';
import profileImage from '../assets/images/profile.jpg';

const blogs = await Astro.glob<{
  title: string;
  poster: string;
  subtitle: string;
}>('../pages/blogs/*.md');
---

<Main title="Sean Ong">
  <div class="flex items-center flex-wrap pb-8 md:space-x-8">
    <div class="flex-1 min-w-[300px] md:ml-4 max-[410px]:mt-4 text-right">
      <h1
        class="text-2xl sm:text-3xl font-bold text-gray-900 dark:text-gray-100 ml-4"
      >
        Sean Ong
      </h1>
      <h2
        class="text-xl sm:text-2xl text-gray-700 dark:text-gray-300 mt-2 ml-4"
      >
        Software Engineer @ Willow
      </h2>
      <p
        class="text-sm sm:text-base text-gray-600 dark:text-gray-400 mt-4 ml-4 text-wrap"
      >
        Yet another software engineer trying to make his hobby his job.
      </p>
    </div>
    <Image
      class="rounded-md object-cover w-24 sm:w-32"
      src={profileImage}
      widths={[96, 128]}
      sizes={`(max-width: 540px) 96px, (max-width: 640px) 128px`}
      alt="Sean Ervinson profile"
      loading="eager"
    />
  </div>

  <div class="mt-12">
    <h3 class="text-3xl text-gray-900 dark:text-gray-100 mb-4">
      Learning archive
    </h3>
    <p class="text-gray-600 dark:text-gray-400 mb-8">
      Sharing stuff I learned/worked on
    </p>
  </div>

  <div class="max-h-80 overflow-y-auto">
    <ol class="space-y-4 animate">
      {
        blogs.map(blog => (
          <li class="border-b border-gray-200 dark:border-gray-700">
            <a
              class="block py-4 text-gray-900 dark:text-gray-100 transition-opacity duration-200 ease-in-out hover:opacity-70"
              href={blog.url}
            >
              {blog.frontmatter.title}
            </a>
          </li>
        ))
      }
    </ol>
  </div>
</Main>

<script>
  import gsap from 'gsap';

  document.addEventListener('astro:page-load', () => {
    gsap.from('.animate', {
      opacity: 0,
      y: 20,
      duration: 1,
      stagger: 0.2,
      ease: 'power2.out',
    });
  });
</script>

<style>
  .floating-span {
    display: inline-block;
  }
  #copyLinkContainer.hidden {
    display: none;
  }
</style>
